<%EnableSessionState=False
host = Request.ServerVariables("HTTP_HOST")

if host = "flemard.ga" or host = "www.flemard.ga" then response.redirect("https://www.flemard.ga/")

else
response.redirect("https://www.flemard.ga/error.htm")
end if
%>