RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.flemard\.ga$ [NC]
RewriteCond %{HTTP_HOST} ^flemard\.ga$ [NC]
RewriteCond %{HTTPS} off [OR]
RewriteRule ^(.*)$ https://www.%1%{REQUEST_URI} [L,NE,R=301]
